#menu{
    height: 54px;
}

#menu ul{
    text-decoration: none;
    list-style: none;;
    line-height: 20px;
}


.item{
    height: 150px;
}

footer{
    height: 50px;
    line-height: 50px;
}

.lateral{
    height: 250px;
}

.lateral > div{
    height: calc(250px/3);
}
#titulo{
    width: auto;
    height: auto;
    background-color: mediumslateblue;
    border: 2px dotted;
}
#descripcion{
    padding: 0.5em;
    margin-top: 5em;
    border: 1px solid;
}

#usuario{
    width: auto;
}

.monda{
    margin: 0em;
}

#usuario{
    border: 2px solid blue;
    margin-top: 10px;
    padding: 0.5em;
}
#boton{
    margin-top: 3px;
}